<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Create task!</h1>
<form action="" method="post">
    {% csrf_token %}
    <label>Status:</label><br/>
    <select name="status">
        {% for value, status in statuses %}
            <option value="{{ value }}">{{ status }}</option>
        {% endfor %}
    </select>
<p></p>
    <label>Description:</label><br/>
    <input type="text" name="description"/><br/>
<p></p>
    <label>Data:</label><br/>
    <input type="text" name="task_data"/><br/>
    <br/>
    <input type="submit" value="Create"/>
<p></p>
<a href="/">На главную</a>
</form>
</body>
</html>